[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas = "*"
backoff = "*"
ctransformers = "*"
transformers = "*"
flask = "*"
requests = "*"
jsonify = "*"
flask-sqlalchemy = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.10"
